# Ignore everything
*

# Allow specific files
!/.editorconfig
!/.gitattributes
!/.gitignore
!/AGENTS.md
!/CLAUDE.md
!/composer.json
!/LICENSE
!/README.md
!/UPGRADE.md

# Allow specific directories
!/docs/
!/docs/**
!/config/
!/config/**
!/standards/
!/standards/**
!/templates/
!/templates/**
